services:
  postgres:
    container_name: ms_pg_sql
    image: postgres
    environment:
      POSTGRES_USER: dima
      POSTGRES_PASSWORD: dima
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    container_name: ms_mongo_db
    image: mongo
    ports:
      - "27017:27017"
    networks:
      - microservices-net
    volumes:
      - mongo:/data
    environment:
      MONGO_INITDB_ROOT_USERNAME: dima
      MONGO_INITDB_ROOT_PASSWORD: dima

  mongo-express:
    image: mongo-express
    container_name: ms_mongo_express
    restart: always
    networks:
      - microservices-net
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: dima
      ME_CONFIG_MONGODB_ADMINPASSWORD: dima
      ME_CONFIG_MONGODB_URL: mongodb://dima:dima@mongodb:27017/

  mail-dev:
    container_name: ms_mail_dev
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"

networks:
  microservices-net:
    driver: bridge


volumes:
  postgres:
  pgadmin:
  mongo: